* {
  font-family: sans-serif;
}
body {
  background-color: white;
}

a {
  color: white;
  text-decoration: none;
}

h3 {
  font-size: 20px;
  color: #131921;
}

.product {
  padding: 20px;
  width: 300px;
  height: 360px;
  margin: 5px;
  z-index: 1;
  background-color: white;
}
